@font-face {
  font-family: 'Jost';
  src: url('../assets/font/Jost-VariableFont_wght.ttf');
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Jost';
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  background-color: #F7F8FD;
}
.el-select {
  width: 100%;
}
.el-input__inner {
  width: 100%;
}
.el-popper {
  border-radius: 10px;
}
.el-popper .popper__arrow {
  display: none;
}
.el-popper .popper__arrow::after {
  content: none;
  display: none;
}
.el-popper .el-select-dropdown__list {
  padding: 0;
}
.el-popper .el-select-dropdown__item {
  border-bottom: 1px solid rgba(58, 67, 116, 0.15);
  padding-left: 24px;
  height: 47px;
  line-height: 47px;
}
.el-popper .el-select-dropdown__item:last-child {
  border-bottom: none;
}
.el-popper .el-select-dropdown__item.selected {
  color: #647196;
  font-weight: normal;
  position: relative;
}
.el-popper .el-select-dropdown__item.selected::after {
  content: '';
  position: absolute;
  background: url('../assets//shared/icon-check.svg') no-repeat center center / cover;
  width: 11px;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}
.el-popper .el-select-dropdown__item.hover {
  background-color: transparent;
}
.el-popper .el-select-dropdown__item:hover {
  color: #AD1FEA;
}
