.detail {
  header {
    height: 88px;
    padding: 0 24px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .detail_btn {
      width: 119px;
      height: 40px;
      background-color: @blue-activr;
      border-radius: 10px;
      border: none;
      font-size: 13px;
      font-weight: bold;
      color: @grey-bgc-q;
    }
  }
  main {
    padding: 0 24px 88px;
    .detail_comments {
      margin-top: 24px;
      background-color: #fff;
      border-radius: 10px;
      padding: 24px 24px 0;
      .detail_title {
        font-size: 18px;
        letter-spacing: -0.25px;
        color: @grey-btn;
      }
      .comments_sug {
        li {
          padding: 24px;
          border-bottom: 1px solid rgba(140, 146, 179, 0.25);
          &:last-child {
            border-bottom: none;
          }
          .comment_user {
            display: flex;
            justify-content: space-between;
            .comment_avatar {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
            .info {
              flex: 1;
              padding-left: 16px;
              .comment_name {
                font-size: 13px;
                font-weight: bold;
                letter-spacing: -0.18px;
                color: @grey-btn;
              }
              .comment_username {
                font-size: 13px;
                color: @gery-font-q;
              }
            }
            .reply_btn {
              font-size: 13px;
              color: @blue-activr;
              background-color: transparent;
              border: none;
            }
          }
          .comment_msg {
            font-size: 13px;
            color: @gery-font-q;
            margin-top: 16px;
          }
        }
      }
    }
  }
}